<ion-view>
	<ion-header-bar align-title="left">
		<button class="button button-clear" ng-click="vm.backModal3()" style="color: black">
			<i class="icon ion-android-arrow-back"></i>
		</button>
		<button class="button button-clear" ng-click="vm.closeModal3()" style="color: black">
			<i class="icon ion-android-done"></i>
		</button>
	</ion-header-bar>
	<ion-content class="has-header padding">
		<h1>Modal 3</h1>
		<button class="button" ng-click="vm.closeModal3()">Finish</button>
	</ion-content>
</ion-view>
