<ion-view>

	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
	</ion-nav-buttons>


	<ion-tabs class="tabs-icon-top tabs-positive">

		<ion-tab title="category-1" icon="ion-gear-a" href="#/app/home-tabs/home-category-1">
			<ion-nav-view name="category-1-tab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="category-2" icon="ion-gear-a" href="#/app/home-tabs/home-category-2">
			<ion-nav-view name="category-2-tab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="category-3" icon="ion-gear-a" href="#/app/home-tabs/home-category-3">
			<ion-nav-view name="category-3-tab"></ion-nav-view>
		</ion-tab>

	</ion-tabs>
</ion-view>