<ion-view title="Program-2">
	<ion-content padding="true">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-text-wrap">
						<a href="#/app/program-details-tabs/program-details-2-1" class="button button-light">
							This is a Ionic card with item-text-wrap class.
						</a>
					</div>
				</div>
				<div class="card">
					<div class="item item-text-wrap">
						<a href="#/app/program-details-tabs/program-details-2-1" class="button button-light">
							This is a Ionic card with item-text-wrap class.
						</a>
					</div>
				</div>
				<div class="card">
					<div class="item item-text-wrap">
						<a href="#/app/program-details-tabs/program-details-2-1" class="button button-light">
							This is a Ionic card with item-text-wrap class.
						</a>
					</div>
				</div>
				<div class="card">
					<div class="item item-text-wrap">
						<a href="#/app/program-details-tabs/program-details-2-1" class="button button-light">
							This is a Ionic card with item-text-wrap class.
						</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-text-wrap">
						<a href="#/app/program-details-tabs/program-details-2-1" class="button button-light">
							This is a Ionic card with item-text-wrap class.
						</a>
					</div>
				</div>
				<div class="card">
					<div class="item item-text-wrap">
						<a href="#/app/program-details-tabs/program-details-2-1" class="button button-light">
							This is a Ionic card with item-text-wrap class.
						</a>
					</div>
				</div>
				<div class="card">
					<div class="item item-text-wrap">
						<a href="#/app/program-details-tabs/program-details-2-1" class="button button-light">
							This is a Ionic card with item-text-wrap class.
						</a>
					</div>
				</div>
				<div class="card">
					<div class="item item-text-wrap">
						<a href="#/app/program-details-tabs/program-details-2-1" class="button button-light">
							This is a Ionic card with item-text-wrap class.
						</a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>