<ion-view title="Articles">
	<ion-content padding="true">
		<div class="card">
			<div class="item item-text-wrap">
				<a href="#/app/article" class="button button-light">go to Article</a>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<a href="#/app/article" class="button button-light">go to Article</a>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<a href="#/app/article" class="button button-light">go to Article</a>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<a href="#/app/article" class="button button-light">go to Article</a>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<a href="#/app/article" class="button button-light">go to Article</a>
			</div>
		</div>
	</ion-content>
</ion-view>