.tabs {
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.tabs-item-hide > .tabs{
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
	bottom: -49px;
	display: flex;
}